header{
	
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	padding:5px;
	text-align: center;
	padding-bottom: 3%;
	background-size: 100%;
}

h1{
	color:#ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 200%;
}

h2{
	
	text-transform: uppercase;
}

a{
	color: #454545;
	background-color: #C0C0C0;	
	text-align: center;
}


body{
	padding: 3px;
	margin:5px;
}

nav a{
	display:inline-block;
	width: 10%;
	line-height: 200%;
	
	background: rgba(255,255,255,0.1) ;
	text-decoration: none;
	margin-right: 10%;
	color:#000000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

.left img{
	width:75%;
	height:75%;
	border:solid 2px #000000;
	margin: 10%;
	display: block;
}

.left{
	float:left;
	width:25%;
	height:100%;
	background-color:#515e0c;
	display:block;
	margin-top: 0px;
}

.right{
	padding-left: 0px;
}

body {
    padding: 1%; 
    margin: 1%;
}

section{
	margin-left:20px;
}
.right{
	margin: 0px;
	padding: 10px;
	text-align: left;
}

.active{
    background-color: #ffffff;
}